body{
    background-color:#000000;
    font-size:16px
    color:#444;
    font-family: sans-serif;
}

.content{
    width: 80%;
    margin: 10px auto;
}

/*header*/
header{
    background-color: #000000;
    padding: 20px 10px;
    border-radius: 5px;
    border: 1px solid #807b7b;
    margin-bottom: 10px;
}

.logo  {
    width: 120px;
}

header h1.judul,
header h3.deskripsi{
    text-align: center;
    color: #f0f0f0;
}

/*menu navigasi*/
.menu{
    background-color: #888b88;
    border: 1px solid #575656;
    border-radius: 8px;
    margin-bottom: 10px;
    font-size: 20pt;
}

div.menu ul {
    list-style:none;
    overflow: hidden;
}


div.menu ul li {
    float:left;
    text-transform:uppercase;
}

div.menu ul li a {
    display:block;
    padding:0 20px;
    text-decoration:none;
    color:#fff;
    font-family: sans-serif;
    font-size:13px;
    font-weight:400;
    transition:all 0.3s ease-in-out;
}

div.menu ul li a:hover,
div.menu ul li a.hoverover {
    cursor: pointer;
    color:#fff;
}


div.badan{
    background-color:#ffffff;
    border-radius: 5px;
    border: 1px solid #ffffff;
    margin-bottom: 10px;
}

div.halaman{
    text-align: center;
    padding: 30px 20px;
}

.paragraf{
    margin-left: 30px;
}

.gambar{
    width: 1000px;
    align-items: center;
}

.paragraf2{
    margin-left: 30px;
    font-style: italic;
}
.tb{
    margin-left: 60px;
    margin-bottom: 100px;
    padding-bottom: 20px;
}
.cp {
    color: black;
    align-items: center;
    font-size: small;
}

.ft {
    color: grey;
    text-align: center;
}